In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('2022.csv')

In [6]:
df_all = pd.DataFrame()
for year in range(2015, 2023):
    df_year = pd.read_csv(f'{year}.csv')
    df_all = pd.concat([df_all, df_year])

In [7]:
import compute_rv
df = compute_rv.compute_re24(df)
df_all = compute_rv.compute_re24(df_all)
df.head()

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,runner_1b,runner_2b,runner_3b,runners,half_inning,bat_score_min,runs_scored_inning_total,runs_scored_rest_of_inning,re24,re24_change
0,4686,FF,2022-08-20,96.9,-1.13,6.48,"Bradish, Kyle",624414,680694,field_out,...,0,0,0,000,661043 1 Top,0,0,0,0.47,-0.24
1,4616,FF,2022-08-20,96.1,-1.46,6.37,"Bradish, Kyle",657077,680694,NaN,...,0,0,0,000,661043 1 Top,0,0,0,0.23,0.00
2,4392,FF,2022-08-20,95.4,-1.04,6.72,"Bradish, Kyle",657077,680694,NaN,...,0,0,0,000,661043 1 Top,0,0,0,0.23,0.00
3,4322,CU,2022-08-20,86.1,-1.28,6.52,"Bradish, Kyle",657077,680694,NaN,...,0,0,0,000,661043 1 Top,0,0,0,0.23,0.00
4,4102,FF,2022-08-20,96.6,-1.28,6.44,"Bradish, Kyle",657077,680694,field_out,...,0,0,0,000,661043 1 Top,0,0,0,0.23,-0.14

In [11]:
df.groupby('events')['re24_change'].mean()

events
catcher_interf                0.338621
caught_stealing_2b                 NaN
caught_stealing_3b                 NaN
caught_stealing_home               NaN
double                        0.750734
double_play                  -1.047895
field_error                   0.390265
field_out                    -0.238232
fielders_choice               0.693592
fielders_choice_out          -0.684554
force_out                    -0.338848
grounded_into_double_play    -0.896938
hit_by_pitch                  0.348771
home_run                      1.387745
other_out                          NaN
pickoff_1b                         NaN
pickoff_caught_stealing_2b         NaN
sac_bunt                     -0.027042
sac_fly                      -0.061478
sac_fly_double_play          -1.170000
single                        0.456800
strikeout                    -0.279833
strikeout_double_play        -0.909167
triple                        0.994000
triple_play                        NaN
walk                          0.320553
wild_pitch                         NaN
Name: re24_change, dtype: float64

In [12]:
mean_run_values = df.groupby('events')['re24_change'].mean()
df['mean_run_value'] = df['events'].map(mean_run_values)

In [20]:
mean_run_values = df_all.groupby('events')['re24_change'].mean()
df_all['mean_run_value'] = df_all['events'].map(mean_run_values)

In [14]:
df.groupby('events')['mean_run_value'].agg(['mean', 'std'])

                                mean  std
events
catcher_interf              0.338621  0.0
caught_stealing_2b               NaN  NaN
caught_stealing_3b               NaN  NaN
caught_stealing_home             NaN  NaN
double                      0.750734  0.0
double_play                -1.047895  0.0
field_error                 0.390265  0.0
field_out                  -0.238232  0.0
fielders_choice             0.693592  0.0
fielders_choice_out        -0.684554  0.0
force_out                  -0.338848  0.0
grounded_into_double_play  -0.896938  0.0
hit_by_pitch                0.348771  0.0
home_run                    1.387745  0.0
other_out                        NaN  NaN
pickoff_1b                       NaN  NaN
pickoff_caught_stealing_2b       NaN  NaN
sac_bunt                   -0.027042  0.0
sac_fly                    -0.061478  0.0
sac_fly_double_play        -1.170000  0.0
single                      0.456800  0.0
strikeout                  -0.279833  0.0
strikeout_double_play      -0.909167  0.0
triple                      0.994000  0.0
triple_play                      NaN  NaN
walk                        0.320553  0.0
wild_pitch                       NaN  NaN

2022 run value leaders:

In [15]:
df.groupby(['player_name', 'pitcher'])['mean_run_value'].sum().sort_values().head(25)

player_name        pitcher
Gallen, Zac        668678    -31.286740
Javier, Cristian   664299    -18.953566
Bieber, Shane      669456    -18.835842
Cortes, Nestor     641482    -17.923083
deGrom, Jacob      594798    -17.672160
Ohtani, Shohei     660271    -17.532337
McKenzie, Triston  663474    -16.988364
Rasmussen, Drew    656876    -15.421682
Manoah, Alek       666201    -14.936888
Verlander, Justin  434378    -14.763768
Quantrill, Cal     615698    -14.350686
Scherzer, Max      453286    -14.350645
Anderson, Tyler    542881    -14.333164
UrÃ­as, Julio       628711    -14.156706
Luzardo, JesÃºs     666200    -13.775998
Darvish, Yu        506433    -13.737528
Cease, Dylan       656302    -13.695184
RodÃ³n, Carlos      607074    -12.812586
Quintana, JosÃ©     500779    -12.272034
Burnes, Corbin     669203    -12.270651
Strider, Spencer   675911    -11.782965
GermÃ¡n, Domingo    593334    -11.780080
Alcantara, Sandy   645261    -11.735358
Herget, Jimmy      623474    -11.443772
Woodruff, Brandon  605540    -11.300571
Name: mean_run_value, dtype: float64

In [22]:
df_gdp = df[df['events'] == 'grounded_into_double_play']
df_gdp_count = df_gdp.groupby(['player_name', 'pitcher']).size().reset_index(name='gdp_count')
df_new = pd.merge(df_all, df_gdp_count, on=['player_name', 'pitcher'], how='left')
df_new['gdp_count'] = df_new['gdp_count'].fillna(0)

2015-2023 re24 run value leaders:

In [23]:
df_new.groupby(['player_name', 'pitcher'])['mean_run_value'].sum().sort_values().head(20)

player_name         pitcher
deGrom, Jacob       594798    -260.562649
Scherzer, Max       453286    -259.475753
Kershaw, Clayton    477132    -247.303617
Verlander, Justin   434378    -215.155158
Cole, Gerrit        543037    -186.731541
Greinke, Zack       425844    -178.976210
Kluber, Corey       446372    -163.010609
Nola, Aaron         605400    -151.481111
Sale, Chris         519242    -149.065182
Strasburg, Stephen  544931    -143.052250
Wheeler, Zack       554430    -123.572398
Hendricks, Kyle     543294    -116.561297
Buehler, Walker     621111    -116.557489
Morton, Charlie     450203    -111.913464
Jansen, Kenley      445276    -110.156806
Hill, Rich          448179    -109.509754
Stroman, Marcus     573186    -109.250273
Darvish, Yu         506433    -105.689135
Maeda, Kenta        628317    -100.957066
Woodruff, Brandon   605540    -100.516207
Name: mean_run_value, dtype: float64

In [10]:
df_all.groupby(['player_name', 'pitcher'])['re24_change'].sum().sort_values().head(25)

player_name         pitcher
Maddox, Austin      545348    -3.71
FrÃ­as, Carlos       516910    -2.78
Hinojosa, Dalier    648737    -2.55
Duran, Jhoan        661395    -2.34
Brash, Matt         666374    -2.31
Barrios, Yhonathan  553872    -2.30
Brown, Hunter       686613    -2.10
MartÃ­n, Rafael      514669    -2.06
Morrow, Brandon     453344    -2.02
Suarez, Robert      663158    -1.92
Baz, Shane          669358    -1.88
Nelson, Ryne        669194    -1.84
Castillo, Luis      622379    -1.56
DÃ­az, Alexis        664747    -1.47
Elder, Bryce        693821    -1.46
Solomon, Peter      656981    -1.42
Greene, Hunter      668881    -1.42
De Jesus, Angel     669804    -1.27
Coleman, Dylan      669395    -1.26
Hancock, Justin     606995    -1.21
Neuse, Sheldon      641914    -1.20
Gose, Anthony       543238    -1.13
Griffin, Foster     656492    -1.10
Mejia, Jenrry       516769    -1.09
Simmons, Shae       623406    -1.03
Name: re24_change, dtype: float64

In [27]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
df_all_bip = df_all.dropna(subset=['launch_speed', 'launch_angle', 're24_change'])

X = df_all_bip[['launch_speed', 'launch_angle']]
y = df_all_bip['re24_change']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

knn = KNeighborsRegressor(n_neighbors=100)
knn.fit(X_train, y_train)

ValueError: Unknown label type: 'continuous'